0 * * * * su -c '/usr/local/bin/php /var/www/app/bin/console rate-app:update-rates BTC' -s /bin/sh www-data >> /var/log/cron.log 2>&1

0 * * * * su -c '/usr/local/bin/php /var/www/app/bin/console rate-app:update-rates ETH' -s /bin/sh www-data >> /var/log/cron.log 2>&1
